{% extends 'base.html.twig' %}

{% block title %}Hello EventController!{% endblock %}

{% block body %}
    <div>
        {{form_start(form)}}
            {{form_row(form.title)}}
            {{form_row(form.content)}}
            {{form_row(form.startAt)}}
            {{form_row(form.endAt)}}
            <button type="submit" class="">Valider</button>
        {{form_end(form)}}
    </div>
{% endblock %}
{% block javascripts %}

{% endblock %}