{% extends 'base.html.twig' %}

{% block title %}Hello EventController!{% endblock %}

{% block body %}
<a href="{{path('register')}}"><h1>Inscription</h1></a>
<a href="{{path('login')}}"><h1>Connexion</h1></a>
<a href="{{path('logout')}}"><h1>Déconnexion</h1></a>
<a href="{{path('addEvent')}}"><h1>Ajouter un évènement</h1></a>

<hr>
<form class="" method="post">
<nav class="breadcrumb is-centered mt-2 d-flex justify-content-around" aria-label="breadcrumbs">
  <ul>
    <li><button type="submit" class="button is-link" value="asc" name="orderby" href="#">Date croissante</button></li>
    <li><button type="submit" class="button is-link" value="desc" name="orderby" href="#">Date décroissante</button></li>
    <li><button type="submit" class="button is-link" name="" href="#">Popularité</button></li>
    {# <li class="is-active"><a href="#" aria-current="page">Breadcrumb</a></li> #}
    </form>
    <li>
    <form method="post">
    <div class="field has-addons">
    <div class="control">
      <input type="text" class="form-control" name="wordToSearch"></input>
    </div>
    <div class="control">
      <button type="submit" class="button is-link">Chercher</button>
      </div>
      </div>
      </li>
    </form>
    <li>
    <form method="post">
    <div class="field has-addons">
    <div class="control">
      <input type="text" class="form-control" name="userToSearch" Placeholder="Xx_DarkSasuke_xX"></input>
    </div>
    <div class="control">
      <button type="submit" class="button is-link">Chercher</button>
      </div>
      </div>
      </li>
    </form>
    <hr>
    <div style="background-color:blue; w">
    </div>
    {% for event in events %}
    <div>
        <p><a href="{{path('oneEvent', {id: event.id})}}"><strong>{{event.title}}</strong></a>
        <br>
        {{event.content| slice(1, 50)}} [...]
        <br>
        Débute le {{event.startAt|date("m/d/Y", "Europe/Paris")}}
        <br>
        Fini le {{event.endAt|date("m/d/Y", "Europe/Paris")}}
        <br>
        Ajouté le {{event.createdAt|date("m/d/Y", "Europe/Paris")}}
        <br>
        <a href="{{path('oneCategory', {name:event.category.name})}}"><h3>{{event.category.name}}</h3></a>
        <hr>
        <a type="button" href="{{path('editEvent', {id: event.id})}}">Modifier</a>
        <a type="button" href="{{path('removeEvent', {id: event.id})}}">Supprimmer</a>
        <a type="button" href="{{path('likeEvent', {id: event.id})}}">Liker</a>
        {{event.likes|length}} likes !
        <hr>
        </p>
    </div>
    {% endfor %}
{% endblock %}
