{% extends 'base.html.twig' %}

{% block title %}Hello EventController!{% endblock %}

{% block body %}
    <div>
        <p><strong>{{event.title}}</strong>
        <br>
        {{event.content| slice(1, 50)}} [...]
        <br>
        Débute le {{event.startAt|date("m/d/Y", "Europe/Paris")}}
        <br>
        Fini le {{event.endAt|date("m/d/Y", "Europe/Paris")}}
        <br>
        Ajouté le {{event.createdAt|date("m/d/Y", "Europe/Paris")}}
        <br>
        </p>
    </div>
    <div>
    {% for comment in event.comments %}
        <br>
        {{comment.content}}
        <br>
        {{comment.user.displayName}}
    {% endfor %}
    {{form_start(form)}}
        {{form_row(form.content)}}
        <button type="submit">Envoyer</button>
    {{form_end(form)}}
    </div>
{% endblock %}
